.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #032974;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__wPH1 {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-QlpQy2xyj7-IG);
  width: 100%;
  min-width: 0;
}
.freeBox__wPH1 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
}
.freeBox__wPH1 > :global(.__wab_flex-container) > *,
.freeBox__wPH1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wPH1 > :global(.__wab_flex-container) > picture > img,
.freeBox__wPH1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
@media (max-width: 930px) {
  .freeBox__wPH1 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 930px) {
  .freeBox__wPH1 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__wPH1 > :global(.__wab_flex-container) > *,
  .freeBox__wPH1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wPH1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__wPH1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__xOsX6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 387px;
  height: 296px;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__xOsX6 {
    justify-content: center;
    align-items: center;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 229px;
  max-height: 35px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__wxZe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: var(--token-3tLU4fACJwX-w);
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  font-size: 18px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__wxZe {
    text-align: center;
    width: 100%;
    max-width: 346px;
    align-self: center;
    min-width: 0;
  }
}
.freeBox__gAlO9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (max-width: 930px) {
  .freeBox__gAlO9 {
    align-items: center;
    justify-content: center;
  }
}
.svg__hmv3V {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__zncKh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg___4P4Lm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg___8Wl3N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.freeBox__gRLzR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 110px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__gRLzR {
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
.h4__jowTn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__jowTn {
    text-align: center;
    margin-top: 53px;
  }
}
.button__oMwda:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__oMwda:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__eGIqK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__l9AT {
  color: var(--token-3tLU4fACJwX-w);
}
.svg___5Ntz3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__zfnlt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__zfnlt:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___7M3BJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link___7VBw {
  color: var(--token-3tLU4fACJwX-w);
}
.svg__iM7N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__hoSpZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__hoSpZ:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__x2Iq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___9IZ3D {
  color: var(--token-3tLU4fACJwX-w);
}
.svg___6Mbq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___0Ga0A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 166px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox___0Ga0A {
    justify-content: center;
    align-items: center;
  }
}
.h4__h8GYb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__h8GYb {
    text-align: center;
    margin-top: 46px;
  }
}
.button__dZZlw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__dZZlw:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__yXkIx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dlT1H {
  color: var(--token-3tLU4fACJwX-w);
}
@media (max-width: 930px) {
  .text__dlT1H {
    text-align: center;
  }
}
.svg__jFgTk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__e21Fz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__e21Fz:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___1Vzt6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__k8Atc {
  color: var(--token-3tLU4fACJwX-w);
}
@media (max-width: 930px) {
  .text__k8Atc {
    text-align: center;
  }
}
.svg__t1D5L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__chpit {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 321px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__chpit {
    justify-content: center;
    align-items: center;
  }
}
.h4__i80R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__i80R {
    text-align: center;
    margin-top: 46px;
  }
}
.text__jmBvX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 249px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  margin-top: 32px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__jmBvX {
    text-align: center;
    align-self: center;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (max-width: 930px) {
  .textInput:global(.__wab_instance) {
    height: 50px;
    width: 284px;
    flex-shrink: 0;
  }
}
.svg___4G2Eh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__sMiOn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__ewq0Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 930px) {
  .button__ewq0Z:global(.__wab_instance) {
    align-self: center;
    height: 50px;
    width: 284px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }
}
.svg__aQe8O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (max-width: 930px) {
  .text___2AOYl {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.svg___4L5Rv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.freeBox__uq98J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
@media (max-width: 930px) {
  .freeBox__uq98J {
    align-self: center;
  }
}
.text__h4VSz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 0px;
  color: var(--token-3tLU4fACJwX-w);
  margin-top: 100px;
}
